@import "../colorPalette.scss";

.itemContainer {
  height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  p {
    color: $black;
    width: 100%;
    text-align: start;
    margin: 0;
    padding: 5px;
  }

  .arrowLink {
    position: absolute;
    top: 45%;
    width: 60px;
    height: 60px;
    background: transparent;
    border-top: 5px solid #4b4b4b;
    border-right: 5px solid #4b4b4b;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;

    &.arrowLeft {
      left: 100px;
      transform: translate3d(0, -50%, 0) rotate(-135deg);
      border-top-right-radius: 8px;
    }

    &.arrowRight {
      right: 100px;
      transform: translate3d(0, -50%, 0) rotate(45deg);
      border-top-right-radius: 8px;
    }
    &:hover {
      border-color: $yellow;
      box-shadow: 5px -5px 0 #4b4b4b;
    }
  }
}

.hidden {
  visibility: hidden;
}

.itemTitle {
  text-transform: capitalize;
}
.pokeImageContainer {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .pokeImage {
    width: 130px;
    margin-bottom: 4px;
  }
}

.cardItemContainer {
  height: 350px;
  // min-height: 350px;
  width: 250px;
  border-radius: 8px;
  border: 7px solid $yellow;
  padding: 10px;
  -webkit-box-shadow: 4px 4px 5px -2px rgba(138, 124, 138, 1);
  -moz-box-shadow: 4px 4px 5px -2px rgba(138, 124, 138, 1);
  box-shadow: 4px 4px 5px -2px rgba(138, 124, 138, 1);
}

.imgContainer {
  background-color: $white;
  border: 1px solid $black;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pokeDescription {
  font-size: 10px;
  border: 1px solid $yellow;
  display: block;
  text-align: start;
  margin-top: 10px;
  padding: 5px;
}

.grass {
  background: linear-gradient(
    180deg,
    rgba(11, 225, 100, 1) 0%,
    rgba(229, 251, 221, 1) 75%,
    rgba(11, 225, 100, 1) 85%,
    rgba(94, 200, 139, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/grass.jpg);
    background-size: 250px;
  }
}

.fire {
  background: linear-gradient(
    180deg,
    rgba(249, 73, 73, 1) 0%,
    rgb(245, 229, 229) 75%,
    rgba(249, 65, 65, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/fire.jpg);
    background-size: 250px;
  }
}

.water {
  background: linear-gradient(
    180deg,
    rgba(63, 187, 232, 1) 0%,
    rgb(255, 255, 255) 75%,
    rgba(41, 193, 220, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/water.png);
    background-size: 250px;
  }
}

.bug {
  background: linear-gradient(
    180deg,
    rgba(97, 201, 81, 1) 0%,
    rgb(233, 249, 231) 75%,
    rgba(102, 167, 69, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/bug.png);
    background-size: 250px;
  }
}

.electric {
  background: linear-gradient(
    180deg,
    rgba(255, 233, 65, 1) 0%,
    rgb(255, 255, 255) 75%,
    rgba(255, 238, 0, 1) 85%,
    rgba(244, 255, 32, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/thunder.jpg);
    background-size: 270px;
  }
}

.flying {
  background: linear-gradient(
    180deg,
    rgba(255, 233, 65, 1) 0%,
    rgb(255, 255, 255) 75%,
    rgba(255, 238, 0, 1) 85%,
    rgba(244, 255, 32, 1) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/flying.jpg);
    background-size: 270px;
  }
}

.normal {
  background: linear-gradient(
    180deg,
    rgb(181, 144, 144) 0%,
    rgb(255, 255, 255) 75%,
    rgb(186, 147, 147) 85%,
    rgb(175, 132, 132) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/flying.jpg);
    background-size: 270px;
  }
}

.ground {
  background: linear-gradient(
    180deg,
    rgb(194, 127, 68) 0%,
    rgb(255, 255, 255) 75%,
    rgb(204, 122, 56) 85%,
    rgb(191, 107, 42) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/flying.jpg);
    background-size: 270px;
  }
}

.poison {
  background: linear-gradient(
    180deg,
    rgb(112, 80, 126) 0%,
    rgb(243, 234, 250) 75%,
    rgb(131, 103, 141) 85%,
    rgb(145, 92, 161) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/poison.png);
    background-size: 300px;
    background-position: right bottom;
  }
}

.fairy {
  background: linear-gradient(
    180deg,
    rgb(247, 164, 186) 0%,
    rgb(255, 219, 236) 75%,
    rgb(255, 172, 211) 85%,
    rgb(250, 142, 180) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/fairys.jpg);
    background-size: 300px;
    background-position: center;
  }
}

.dark {
  color: $white;

  .itemTitle {
    font-weight: bold;
    color: $white;
  }
  background: linear-gradient(
    180deg,
    rgb(54, 63, 89) 0%,
    rgb(203, 203, 233) 75%,
    rgb(56, 52, 82) 85%,
    rgb(37, 45, 70) 100%
  );
  .pokeImageContainer {
    background-image: url(../Images/dark.png);
    background-size: 350px;
    background-position: left center;
  }
}
